<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Time App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Today's Prayer Times:</h1>
            {{ today }}
            <ul>
                {% for line in output %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ul>
            {{ notify_time }}
    </div>
    
</body>
</html>
